@model IEnumerable<myhw.Models.MessageDataModel>

@{
    ViewBag.Title = "Message Board";
}

<h2>Message Board</h2>

@using (Html.BeginForm("Front", "Message", FormMethod.Get))
{
    <p>
        姓名: @Html.TextBox("name")
        <input type="submit" value="搜尋" />
    </p>
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>Timestamp</th>
            <th>Name</th>
            <th>Content</th>
        </tr>

        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Timestamp</td>
                <td>@message.Username</td>
                <td>@message.Content</td>
            </tr>
        }
    </table>
}
else
{
    <p>没有可用的消息。</p>
}

@Html.ActionLink("Create", "CreateMessage")
