@model IPagedList<myhw.Models.MessageDataModel>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* 分頁樣式 */

        .pagination {
            justify-content: center;
            list-style: none; /* 移除黑點 */
        }

            .pagination li {
                display: inline;
            }

                .pagination li a {
                    color: #007bff; /* 鏈接顏色 */
                    padding: 8px 16px; /* 添加內邊距以提高可點擊區域 */
                    text-decoration: none; /*去除文字的默認下劃線*/
                    transition: background-color .3s; /*0.3秒完成過渡效果*/
                    border: 1px solid #ddd; /*元素的邊框*/
                }

                .pagination li.active a {
                    background-color: #007bff; /* 選中項目背景顏色 */
                    color: white; /* 選中項目文字顏色 */
                }
    </style>
</head>
<table class="table">
    <tr>
        <th>姓名(帳號)</th>
        <th>留言</th>
        <th>時間</th>
        <th>操作</th>
    </tr>
    @foreach (var message in Model)
    {
        <tr>
            <td>@message.Username</td>
            <td>
                <span class="message-content" data-original="@message.Content">@message.Content</span>
                <input type="text" class="edit-content" value="@message.Content" style="display: none;" />
            </td>

            <td id="computerTime">@message.Time</td>


            <td>
                @if (Session["Username"] != null && Session["Username"].ToString() == message.Username)
                {
                    <button class="edit-btn" data-content-id="@message.UserId">編輯</button>
                    <button class="save-btn" style="display: none;">完成</button>
                    <button class="delete-btn" data-content-id="@message.ContentId">刪除</button>
                }
                else
                {
                    <text>你沒有權限</text>
                }
            </td>
        </tr>
    }
</table>
<div>
   
    @if (Model != null && Model.Any())
    {

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (ViewBag.name != null)
                {
                    @Html.Pager(Model.PageSize, Model.PageIndex, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "messageContainer" }).Options(O => O.AddRouteValue("name", ViewBag.name)).Options(o => o
                                    .DisplayTemplate("~/Views/Shared/DisplayTemplates/BootstrapPagination.cshtml")
                                    .MaxNrOfPages(5)
                                    .AlwaysAddFirstPageNumber()
                                    //.SetPreviousPageText("上一頁")
                                    //.SetNextPageText("下一頁")
                                    )

                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageIndex, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "messageContainer" }).Options(o => o.Action("AjaxPage")).Options(o => o
                                    .DisplayTemplate("~/Views/Shared/DisplayTemplates/BootstrapPagination.cshtml")
                                    .MaxNrOfPages(5)
                                    .AlwaysAddFirstPageNumber()
                                    //.SetPreviousPageText("上一頁")
                                    //.SetNextPageText("下一頁")
                                    )
                }
            </ul>
        </nav>
    }
    else
    {
        <p>没有可用的消息。</p>
    }
</div>
