@model IPagedList<myhw.Models.MessageDataModel>

@{
    ViewBag.Title = "Message Board";
}


<h2>Message Board</h2>

@using (Ajax.BeginForm("AjaxPage", "Message", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "messageContainer", OnBegin = "onAjaxBegin" })) // 這裡確保 UpdateTargetId 是 _ProductGrid 的容器
{
    <p>
        姓名: @Html.TextBox("name")
        <input type="submit" value="搜尋" />
    </p>
}

@if (Session["Username"] != null)
{
    <p>歡迎, @Session["Username"]！</p>
    @Html.ActionLink("登出", "Logout", "Message", new { @class = "btn btn-primary" })
}
else
{
    @Html.ActionLink("Login", "Log", "Account")
}
<div id="messageContainer">
    @Html.Partial("_ProductGrid", Model)
</div>




<button class="create-btn btn btn-primary">Create Message</button>
<p>@Html.ActionLink("回到全部留言", "Front", new { @class = "btn btn-secondary" })</p>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $(document).ready(function () {

            //loadPage(page);


            // 編輯按紐事件
            $(document).on("click", ".edit-btn", function () {
                var row = $(this).closest("tr");
                row.find(".message-content").hide();
                row.find(".edit-content").val(row.find(".message-content").text());
                row.find(".edit-content").show();
                row.find(".edit-btn").hide();
                row.find(".save-btn").show();
            });

            $(document).on("click",".save-btn",function () {
                var row = $(this).closest("tr");
                var contentId = row.find(".edit-btn").data("content-id");
                var editedContent = row.find(".edit-content").val();

                $.ajax({
                    type: "POST",
                    url: "/Message/UpdateMessage",
                    data: { contentId: contentId, content: editedContent },
                    success: function (response) {
                        if (response.Success) {
                            alert("操作成功：" + response.Message);
                            row.find(".message-content").text(editedContent);
                            row.find(".message-content").show();
                            row.find(".edit-content").hide();
                            row.find(".edit-btn").show();
                            row.find(".save-btn").hide();
                        } else {
                            alert("操作失敗：" + response.Message);
                        }
                    },
                    error: function () {
                        alert("發生錯誤");
                    }
                });
            });

            $(document).on("click",".delete-btn",function () {
                var row = $(this).closest("tr");
                var contentId = $(this).data("content-id");

                $.ajax({
                    type: "POST",
                    url: "/Message/DeleteMessage",
                    data: { contentId: contentId },
                    success: function (response) {
                        if (response.Success) {
                            row.remove();
                            alert("刪除成功：" + response.Message);
                            location.reload(); // 重新加載當前頁面

                        } else {
                            alert("刪除失敗：" + response.Message);
                        }
                    },
                    error: function () {
                        alert("失敗");
                    }
                });
            });

            $(".create-btn").click(function () {
                window.location.href = '@Url.Action("Create", "Message")';
            });

            // 分頁按鈕點擊事件
            $(document).on("click", ".pager", function (e) {
                e.preventDefault();
                var clickedPage = $(this).text();
                console.log("Clicked Page: " + clickedPage);
                loadPage(parseInt(clickedPage));
            });
             
        });
        function loadPage(page) {
            console.log("Loading Page: " + page);
            var searchValue = $('#name').val();

                $.ajax({
                    url: '/Message/AjaxPage',
                    type: 'GET',
                    dataType: 'html',
                    data: { name: searchValue, page: page },
                    success: function (result) {
                        $('#messageContainer').html(result);
                    },
                    error: function (error) {
                        alert("加載頁面失敗");
                    }
                });
             
        }
        function onAjaxBegin() {
            // 取消表單的默認行為
            return false;
        }
    </script>
}